<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Account</title>
</head>
<body>
<div class="junbotron text-center" ng-controller="AccountCtrl"></div>

<FORM action="Account" method="post">
    <P>
    <LABEL for="firstname">Name: </LABEL>
              <INPUT type="text" id="firstname"><BR>
    <LABEL for="Account number">Account Number: </LABEL>
              <INPUT type="text" id="lastname"><BR>
   <select>
  <option value="">Account Type</option>
  <option value="">Savings</option>
  <option value="opel">Checking</option>
 </select><BR>
 
  <LABEL for="amount">Amount: </LABEL>
              <INPUT type="text" id="firstname"><BR>
 
    <INPUT type="submit" value="Deposit"> 
    </P>
 </FORM>

<footer class= "text-center">
	<p> All rights are reserved @Banking Application 2017</p>
	</footer>

</body>
</html>